notebooks/1 - Train and test on Amazon SageMaker Studio/yolo11n.pt
notebooks/1 - Train and test on Amazon SageMaker Studio/ultralytics/
notebooks/1 - Train and test on Amazon SageMaker Studio/coco8.yaml
notebooks/1 - Train and test on Amazon SageMaker Studio/runs/
notebooks/1 - Train and test on Amazon SageMaker Studio/yolov11-process-2025-01-08-04-47-28-958
notebooks/1 - Train and test on Amazon SageMaker Studio/best.pt
notebooks/1 - Train and test on Amazon SageMaker Studio/yolo11x.pt
